<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Hugs</title>
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="./landing.css" />
  </head>
  <body>
    <!-- START OF MAIN CONTENT IN SCREEN UPPER -->
    <main class="landing eggshell-text">
      <div class="top-section">
        <h1 class="title">Your Match Has Never Been Closer</h1>
        <p class="text">Find new dates, meet people with common interests</p>
      </div>

      <div class="bottom-section">
        <div class="signup-section">
          <label class="size-20" for="signup-modal-btn">New User</label>
          <button class="btn btn-lg upper" id="signup-modal-btn">
            Sign Up
          </button>
        </div>
        <div class="login-section">
          <label class="size-20" for="login-modal-btn"
            >Continue Your Journey</label
          >
          <button class="btn btn-lg upper" id="login-modal-btn">Login</button>
        </div>
      </div>
    </main>
    <!-- END OF MAIN CONTENT IN SCREEN UPPER -->


    <!-- START OF REGISTER MODALS -->
    <section id="modal" class="center register-modal">
    <!-- START OF SIGNUP MODAL -->
      <div id="signup-modal" class="modal display-none">
        <div class="top">
        <h1>Sign Up</h1>
        <span id="close-signup-modal">&#x2715</span>
        </div>
        <form class="form" id="signup-form">
          <!-- Name -->
          <label for="signup-name">Name:</label>
          <input id="signup-name" type="text" placeholder="name" required />
          <!-- Email -->
          <label for="signup-email">Email:</label>
          <input id="signup-email" type="text" placeholder="email" required />
          <!-- Password -->
          <label for="signup-password">Password:</label>
          <input
            id="signup-password"
            type="password"
            placeholder="password"
            required
          />
          <!-- Gender -->
          <label for="signup-gender">Your Gender:</label>
          <select id="signup-gender" name="gender" required>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">other</option>
          </select>
          <!-- Interested in gender: -->
          <label for="signup-interested-gender">Interested in Gender:</label>
          <select id="signup-interested-gender" name="interested-in-gender" required>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
          <!-- Age -->
          <label for="signup-age">Age:</label>
          <input
            id="signup-age"
            type="Number"
            min="18"
            max="100"
            placeholder="above 18"
            required
          />
          <!-- Profile Image - Required -->
          <div class="img-section">
            <label for="signup-img-url"
              ><img class="signup-img-show" id="signup-img-show" src="../../assets/dummy-profile.png"
            /></label>
            <input type="file" id="signup-img-url" accept="image/*" class="display-none" />
          </div>
          <!-- Submit -->
          <button id="signup-submit-button" class="btn btn-md">Submit</button>
        </form>
      </div>
    <!-- END OF SIGNUP MODAL -->
    <!-- START OF LOGIN MODAL -->
      <div id="login-modal" class="modal login-modal display-none">
        <div class="top">
        <h1>Login</h1>
        <span id="close-login-modal">&#x2715</span>
        </div>
        <form class="form" id="login-form">
          <!-- Email -->
          <div>
          <label for="login-email">Email:</label>
          <input id="login-email" type="text" placeholder="email" required />
          </div>
          <!-- Password -->
          <div>
          <label for="login-password">Password:</label>
          <input
            id="login-password"
            type="password"
            placeholder="password"
            required
          />
          </div>
          <!-- Submit -->
          <button id="login-submit-button" class="btn btn-md">Submit</button>
        </form>
      </div>
    <!-- END OF LOGIN MODAL -->
    </section>
    <!-- END OF REGISTER MODALS -->

    <script src="../../scripts/index.js"></script>
    <script src="landing.js"></script>
  </body>
</html>
