/* MAIN PAGE STYLING */
body{
    background-image: url('../../assets/landing-bg.jpg');
    background-size:cover;
    background-position: center;
}
label{
    display: block;
    margin: 10px 0;
}
main{
    margin-top: 2em;
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:2em;
}
/* Top Section */
