<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Hugs</title>
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="./home.css" />
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <nav class="nav eggshell-bg upper">
        <img src="../../assets/Free_Hugs-logo.png">
        <ul>
            <a href="../landing/landing.html"><li>Favorites</li></a>
            <a href="../landing/landing.html"><li>Chats</li></a>
            <a href="../profile.html"><li>Profile</li></a>
            <button class="btn btn-md vermilion-bg">Logout</button>
        </ul>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- START OF MAIN SECTION -->
    <main class="home-main">
        <h1>Your Match is One Swipe Away</h1>
        <section class="home-container">
            <div class="card">
                <img class="profile-img" src="../../assets/dummy-profile.png">
                <div>
                    <p>Name: <span class="name">Hadi</span></p>
                    <p>Age: <span class="age">23</span></p>
                </div>
                <div>
                    <p>Gender: <span class="gender">Male</span></p>
                    <p>Interested in: <span class="interested-in-gender">Female</span></p>
                </div>
                <p class="bio">Hi! My name is Mark, and I am brand new to online dating. While I’m still figuring this all out, here’s something I know for sure—I’m excited to be here!</p>
                <div>
                    <img src="../../assets/icons8-favorite-50 (1).png" class="favorite">
                    <img src="../../assets/icons8-chat-room-50.png" class="chat">
                    <img src="../../assets/icons8-block-50.png" class="block">
                </div>
            </div>
        </section>
    </main>
    <!-- END OF MAIN SECTION -->

    <script type="text/javascript" src="../../scripts/axios.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <script src="home.js"></script>
  </body>
</html>
