<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <nav class="nav eggshell-bg upper">
      <img src="../../assets/Free_Hugs-logo.png" />
      <ul>
        <a href="../home/home.html"><li>HOME</li></a>
        <a href=""><li>Favorites</li></a>
        <a href=""><li>Profile</li></a>
        <button id="logout" class="btn btn-md vermilion-bg">Logout</button>
      </ul>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- START OF CHATS CONTAINER -->
    <main class="chat-container">
        <section id="all-chats" class="all-chats">
            <!-- START OF SINGLE CHAT -->
            <!-- END OF SINGLE CHAT -->
        </section>
        <section id="show-chat" class="show-chat">
          <h1 id="no-single-chat-display" class="display-none">Click on a chat to continue it</h1>
          <div class="single-chat-container">
            <div class="header">
              <img src="../../assets/dummy-profile.png">
              <span>Hadi Kobeisy</span>
            </div>
            <div class="content">
              <div class="received-message"><p class="text">Hey dude<span class='date'>3d</span></p></div>
              <div class="sent-message"><p class="text">Hey dude2<span class='date'>3d</span></p></div>
              <div class="received-message"><p class="text">Hey dude<span class='date'>3d</span></p></div>
              <div class="sent-message"><p class="text">Hey dude2<span class='date'>3d</span></p></div>
              <div class="received-message"><p class="text">Hey dude<span class='date'>3d</span></p></div>
            </div>
            <div class="footer">
              <input type="text" id="text-input">
              <img id="send-message" src="../../assets/icons8-chat-room-50.png">
            </div>
          </div>
          </section>
    </main>
    <!-- END OF CHATS CONTAINER -->

    <!-- SEND A MESSAGE WHEN CLICKED ON-->

    <script type="text/javascript" src="../../scripts/axios.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
