<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <nav class="nav eggshell-bg upper">
      <img src="../../assets/Free_Hugs-logo.png" />
      <ul>
        <a href="../landing/landing.html"><li>Favorites</li></a>
        <a href="../landing/landing.html"><li>Chats</li></a>
        <a href="../profile.html"><li>Profile</li></a>
        <button class="btn btn-md vermilion-bg">Logout</button>
      </ul>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- START OF CHATS CONTAINER -->
    <main class="chat-container">
        <section class="all-chats">
            <!-- START OF SINGLE CHAT -->
            <div class="single-chat">
                <img src="../../assets/dummy-profile.png">
                <div>
                <p class="size-20"><span class='name'>Hadi </span><span class='gender'>~male</span></p>
                <p class="last-msg">Okay, meet you arou...</p>
            </div>
            </div>
            <!-- END OF SINGLE CHAT -->
        </section>
    </main>
    <!-- END OF CHATS CONTAINER -->

    <script type="text/javascript" src="../../scripts/axios.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
