<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <nav class="nav eggshell-bg upper">
      <img src="../../assets/Free_Hugs-logo.png" />
      <ul>
        <a href="../home/home.html"><li>HOME</li></a>
        <a href=""><li>Favorites</li></a>
        <a href=""><li>Profile</li></a>
        <button id="logout" class="btn btn-md vermilion-bg">Logout</button>
      </ul>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- START OF CHATS CONTAINER -->
    <main class="chat-container">
      <section id="all-chats" class="all-chats">
        <!-- START OF SINGLE CHAT -->
        <!-- END OF SINGLE CHAT -->
      </section>
      <!-- END OF CHATS CONTAINER -->

      <!-- START OF SINGLE CHAT SHOW - RIGHT SECTION -->
      <section id="show-chat" class="show-chat">
        <h1 id="no-single-chat-display">Click on a chat to continue the fun</h1>
        <div id="single-chat" class="single-chat-container display-none">
          <div class="header">
            <img id="show-img" src="../../assets/dummy-profile.png" />
            <h3 id="show-name">Hadi Kobeisy</h3>
          </div>
          <div id="show-content" class="content">
            <!-- START OF SHOW SINGLE CHAT CONTENT - JAVASCRIPT -->
            <!-- END OF SHOW SINGLE CHAT CONTENT - JAVASCRIPT -->
          </div>
          <div class="footer">
            <input
              type="text"
              id="text-input"
              placeholder="send your message"
            />
            <img
              id="send-message"
              src="../../assets/icons8-email-send-30.png"
            />
          </div>
        </div>
      </section>
      <!-- END OF SINGLE CHAT SHOW - RIGHT SECTION -->
    </main>

    <!-- SEND A MESSAGE WHEN CLICKED ON-->

    <script type="text/javascript" src="../../scripts/axios.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
